body {
  margin: 0;
  min-height: 100vh;
}

.main-container {
  height: 100vh;
  border: solid rgb(8, 2, 2);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.header-container {
  margin-top: 25px;
  border: solid rgb(19, 117, 10);
  width: 60%;
  height: 20%;
}

.header-text {
  text-align: center;
  font-size: 4rem;
}

.content-container {
  display: flex;
  border: solid pink;
  height: 100vh;
  width: 99%;
  margin-top: 25px;
  justify-content: center;
  gap: 75px;
}

.player-board-container,
.computer-board-container {
  margin-top: 30px;
  border: solid black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.row {
  border: solid 1.5px black;
  width: 50px;
  height: 50px;
}

.row:hover {
  background-color: black;
}
