@font-face {
  font-family: 'Army Rust';
  src: url(./fonts/army.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  min-height: 100vh;
}

.main-container {
  height: 100vh;
  border: solid rgb(8, 2, 2);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.header-container {
  margin-top: 5px;
  /* border: solid rgb(19, 117, 10); */
  width: 50%;
  height: 15%;
}

.header-text {
  text-align: center;
  font-size: 5.5rem;
  font-family: 'Army Rust';
  color: black
}

.content-container {
  display: flex;
  flex-direction: column;
  border: solid pink;
  height: 100vh;
  width: 99%;
  margin-top: 25px;
  justify-content: center;
}

.instructions-container {
  border: solid black;
  width: 15%;
  height: 85%;
}

.ship-container {
  width: 300px;
  height: 400px;
  border: solid black;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.direction-container {
  border: solid green;
  display: flex;
  justify-content: space-around;
  width: 99%;
  height: 10%;
}

.player-board-container,
.computer-board-container {
  margin-top: 30px;
  border: solid black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.row {
  border: solid 1.5px black;
  width: 100%;
  height: 100%;
}

.hover {
  background-color: green;
}

.clicked {
  background-color: blue;
}

.error {
  background-color: red;
}

.highlight {
  background-color: yellow;
}

.random-highlight {
  background-color: green;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.board-ship-container {
  border: solid green;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.start-container {
  border: solid black;
  margin-top: 15px;
  width: 40%;
  height: 10%;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start-container button {
  width: 5rem;
  height: 2.2rem;
}

.missed {
  background-color: yellow;
}

.hit {
  background-color: red;
}

#game-over {
  width: 25%;
  height: 45%;
  border-radius: 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.dialog-div {
  border: solid green;
  width: 100%;
  height: 100%;
}

.dialog-header-container {
  width: 100%;
  height: 20%;
  border: dotted blue;
  box-sizing: border-box;
}

.dialog-header-text,
.para-text {
  text-align: center;
}

.dialog-para-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border: dotted red;
  box-sizing: border-box;
  overflow: hidden;
  gap: 15px;
}

.para-text-container {
  width: 100%;
  height: 50%;
  border: solid purple;
}

.new-game {
  display: flex;
  margin-left: 20px;
  justify-content: center;
  border: dotted green;
  width: 80%;
  height: 15%;
}
